- name: Create rsc
  file:
    path: /tmp/{{ inventory_hostname }}-certificates.rsc
    state: touch

- name: Generate rsc
  blockinfile:
    dest: /tmp/{{ inventory_hostname }}-certificates.rsc
    block: "{{ lookup('template', 'certificates.rsc.j2') }}"

- name: copy rsc to router
  command: scp -P {{ ansible_ssh_port }} /tmp/{{ inventory_hostname }}-certificates.rsc {{ansible_ssh_user}}@{{ansible_host}}:certificates.rsc

- name: run rsc
  routeros_command:
    commands:
      - "/import file=certificates.rsc"
      - "/file remove certificates.rsc"
  register: system_print

- name: debug print
  debug:
    var: system_print.stdout_lines

- name: clean
  file:
    path: /tmp/{{ inventory_hostname }}-certificates.rsc
    state: absent
