/log warning "Configuring VPN client"

/interface list
:if ([/interface list find name={{ ros_vpn_client_profile }}] ="") do={
    /interface list add name={{ ros_vpn_client_profile }};
    :put "Interface List Added"} else={
    :put "Interface List already exists"
}

:if ([/interface list find name=VPN] ="") do={
    /interface list add name=VPN;
    /interface list set VPN include={{ ros_vpn_client_profile }}
    :put "Interface List VPN Added"} else={
    :put "Interface List VPN already exists"
}

/ppp profile
:if ([/ppp profile find name={{ ros_vpn_client_profile }}] ="") do={
    /ppp profile add name={{ ros_vpn_client_profile }} address-list={{ ros_vpn_client_profile }} \
      interface-list={{ ros_vpn_client_profile }} use-encryption=required;
    :put "PPP Profile {{ ros_vpn_client_profile }} Added"} else={
    :put "PPP Profile {{ ros_vpn_client_profile }} already exists"
}


{% if ros_vpn_client_type == 'l2tp' %}
{% include 'l2tp.rsc.j2' %}
{% endif %}

{% if ros_vpn_client_need_ospf == 'true' %}
{% include 'ospf.rsc.j2' %}
{% endif %}