/log warning "Ansible is configuring CA now..."

/certificate
:if ([/certificate find name={{ ros_cert_CA_name }} ] ="") do={
    /certificate add name={{ ros_cert_CA_name }}  common-name={{ ros_cert_CA_name }} \
        days={{ ros_cert_CA_days_valid }} key-size={{ ros_cert_CA_key_size }} key-usage=crl-sign,key-cert-sign;
    :put "Certificate {{ ros_cert_CA_name }} Added";
    /certificate sign {{ ros_cert_CA_name }} ca-crl-host=127.0.0.1 name={{ ros_cert_CA_name }};
    :put "Certificate {{ ros_cert_CA_name }} signed"} else={
    :put "Certificate {{ ros_cert_CA_name }} already exists"
}

/log warning "CA Configured"
