/log warning "Ansible is configuring CA now..."

{% for certificate in certificates %}
:if ([/certificate find name={{ certificate['ros_cert_name'] }} ] ="") do={
    /certificate add name={{ certificate['ros_cert_name'] }} common-name={{ certificate['ros_cert_name'] }} \
        key-size={{ certificate['ros_cert_key_size'] }} days-valid={{ certificate['ros_cert_days_valid'] }} \
        key-usage={{ certificate['ros_cert_key_usage'] }};
    :put "Certificate {{ certificate['ros_cert_name'] }} Added";

    {% if certificate['ros_cert_is_CA'] == true %}
        /certificate sign {{ certificate['ros_cert_name'] }} ca-crl-host=127.0.0.1 name={{ certificate['ros_cert_name'] }};
    {% else %}
        /certificate sign {{ certificate['ros_cert_name'] }} ca={{ certificate['ros_cert_CA_name'] }}  name={{ certificate['ros_cert_name'] }};
    {% endif %}
    
    :put "Certificate {{ certificate['ros_cert_name'] }} signed"} else={
    :put "Certificate {{ certificate['ros_cert_name'] }} already exists"
}
{% endfor %}

/log warning "Certificates Configured"
