/log warning "Ansible is configuring certificates now..."

:if ([/certificate find name={{ ros_cert_name }} ] ="") do={
    /certificate add name={{ ros_cert_name }} common-name={{ ros_cert_name }} key-size={{ ros_cert_key_size }} \
        days-valid={{ ros_cert_days_valid }} key-usage={{ ros_cert_key_usage }};
    :put "Certificate {{ ros_cert_name }} Added";
    /certificate sign {{ ros_cert_name }} ca={{ ros_cert_CA_name }}  name={{ ros_cert_name }};
    :put "Certificate {{ ros_cert_name }} signed"} else={
    :put "Certificate {{ ros_cert_name }} already exists"
}

/log warning "Certificates configured"
