{% import 'extra/macroses.j2' as macros %}

/log warning "Configuring OVPN clients"

/certificate export-certificate {{ client_certs[0].ros_cert_ca_name }}

{% for client in ros_ovpn_srv_clients.values() | list %}
/ppp secret
{{ macros.create_command('/ppp secret', 'name', client.name, 
    'password=' + client.password + ' ' +
    'profile=' + ros_ovpn_srv_profile + ' ' +
    'disabled=no' 
) }}

/interface ovpn-server
{{ macros.create_command('/interface ovpn-server', 'name', 'ovpn-' + client.name, 
    'user=' + client.name + ' ' +
    'disabled=no' 
) }}

/certificate export-certificate {{ client.name }} type=pem export-passphrase={{ client.password }}

/ip firewall address-list
{% for network in client['allowed_networks'] %}
{{ macros.create_command('/ip firewall address-list', 'list', client.name, 
    'address=' + network + ' ' +
    'disabled=no' 
) }}
{% endfor %}

/ip firewall filter
{{ macros.create_command('/ip firewall filter', 'comment', ros_ovpn_srv_profile  + '_forward-allow' + client.name, 
    'chain=' + ros_ovpn_srv_profile + '_forward-allow ' +
    'in-interface=ovpn-' +  client.name + ' ' +
    'dst-address-list=' + client.name + ' ' +
    'action=accept' + ' ' +
    'disabled=no' 
) }}

{% endfor %}
