{% import 'extra/macroses.j2' as macros %}

/ip firewall filter
{{ macros.create('/ip firewall filter', 'comment', 'WAN-Input-Allow_' + ros_ovpn_srv_profile, 
    'chain=WAN-Input-Allow ' +
    'protocol=tcp ' +
    'dst-port=' + ros_ovpn_srv_port +  ' ' +
    'action=accept'
) }}

# /ip firewall filter in-interface-list=OVPN_server
{{ macros.create('/ip firewall filter', 'comment', '---------------------------------------------Forward-in-' + ros_ovpn_srv_profile + '---------------------------------------------', 
    'chain=forward ' +
    'in-interface-list=' + ros_ovpn_srv_profile + ' ' +
    'action=jump ' +
    'jump-target=' + ros_ovpn_srv_profile  + '_forward'
) }}

{{ macros.create('/ip firewall filter', 'comment', ros_ovpn_srv_profile + '_forward-established', 
    'chain=' + ros_ovpn_srv_profile + '_forward ' +
    'connection-state=established ' +
    'action=accept'
) }}

{{ macros.create('/ip firewall filter', 'comment', ros_ovpn_srv_profile + '_forward-related', 
    'chain=' + ros_ovpn_srv_profile + '_forward ' +
    'connection-state=related ' +
    'action=accept'
) }}

{{ macros.create('/ip firewall filter', 'comment', ros_ovpn_srv_profile + '_forward-untracked', 
    'chain=' + ros_ovpn_srv_profile + '_forward ' +
    'connection-state=untracked ' +
    'action=accept'
) }}

{{ macros.create('/ip firewall filter', 'comment', ros_ovpn_srv_profile + '_forward-invalid', 
    'chain=' + ros_ovpn_srv_profile + '_forward ' +
    'connection-state=invalid ' +
    'action=drop'
) }}

{{ macros.create('/ip firewall filter', 'comment', ros_ovpn_srv_profile + '_forward-jump_' + ros_ovpn_srv_profile + '_forward-allow', 
    'chain=' + ros_ovpn_srv_profile + '_forward ' +
    'action=jump ' + 
    'jump-target=' + ros_ovpn_srv_profile + '_forward-allow '
) }}

{{ macros.create('/ip firewall filter', 'comment', ros_ovpn_srv_profile + '_forward-drop', 
    'chain=' + ros_ovpn_srv_profile + '_forward ' +
    'action=drop'
) }}



# /ip firewall filter out-interface-list=OVPN_server
{{ macros.create('/ip firewall filter', 'comment', '---------------------------------------------Forward-out-' + ros_ovpn_srv_profile + '---------------------------------------------', 
    'chain=forward ' +
    'out-interface-list=' + ros_ovpn_srv_profile + ' ' +
    'action=jump ' +
    'jump-target=forward_' + ros_ovpn_srv_profile
) }}

{{ macros.create('/ip firewall filter', 'comment', 'forward_' + ros_ovpn_srv_profile + '_established', 
    'chain=forward_' + ros_ovpn_srv_profile + ' ' +
    'connection-state=established ' +
    'action=accept'
) }}

{{ macros.create('/ip firewall filter', 'comment', 'forward_' + ros_ovpn_srv_profile + '_related', 
    'chain=forward_' + ros_ovpn_srv_profile + ' ' +
    'connection-state=related ' +
    'action=accept'
) }}

{{ macros.create('/ip firewall filter', 'comment', 'forward_' + ros_ovpn_srv_profile + '_untracked', 
    'chain=forward_' + ros_ovpn_srv_profile + ' ' +
    'connection-state=untracked ' +
    'action=accept'
) }}

{{ macros.create('/ip firewall filter', 'comment', 'forward_' + ros_ovpn_srv_profile + '_invalid', 
    'chain=forward_' + ros_ovpn_srv_profile + ' ' +
    'connection-state=invalid ' +
    'action=drop'
) }}

{{ macros.create('/ip firewall filter', 'comment', 'forward_' + ros_ovpn_srv_profile + '_jump-forward_' + ros_ovpn_srv_profile + '_allow', 
    'chain=forward_' + ros_ovpn_srv_profile + ' ' +
    'action=jump ' + 
    'jump-target=forward_' + ros_ovpn_srv_profile + '_allow '
) }}

{{ macros.create('/ip firewall filter', 'comment', 'forward_' + ros_ovpn_srv_profile + '_drop', 
    'chain=forward_' + ros_ovpn_srv_profile + ' ' +
    'action=drop'
) }}
