[Unit]
Description=Alertmanager Bot
Documentation=https://github.com/metalmatze/alertmanager-bot
After=network.target

[Service]
Type=simple
User={{ alertmanager_bot_user }}
Group={{ alertmanager_bot_group }}

Environment=ALERTMANAGER_URL={{ alertmanager_bot_alertmanager_url }}
Environment=LISTEN_ADDR={{ alertmanager_bot_listen_address }}
Environment=TELEGRAM_TOKEN={{ alertmanager_bot_telegram_token }}
Environment=STORE={{ alertmanager_bot_store }}
Environment=TEMPLATE_PATHS={{ deploy_helper.current_path }}/default.tmpl
Environment=HTTP_PROXY={{ proxy_env.http_proxy }}
Environment=HTTPS_PROXY={{ proxy_env.https_proxy }}
{% if alertmanager_bot_store == "bolt" %}
Environment=BOLT_PATH={{ alertmanager_bot_bolt_path }}
{% endif %}
{% if alertmanager_bot_store == "consul" %}
Environment=CONSUL_URL={{ alertmanager_bot_consul_url }}
{% endif %}
{% for item in alertmanager_bot_env_vars %}
Environment={{ item.split("=")[0] }}={{ item.split("=")[1] }}
{% endfor %}
ExecStart={{ alertmanager_bot_release_dir }}/alertmanager_bot \
{% for id in alertmanager_bot_telegram_admins %}
  --telegram.admin={{ id }} \
{% endfor %}
  --log.level={{ alertmanager_bot_log_level }}

KillMode=process

SyslogIdentifier=alertmanager_bot
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
